<section class="subheader">
  <div class="container">
    <h1>Register</h1>
    <div class="breadcrumb right">Home <i class="fa fa-angle-right"></i> <a href="#" class="current">Register</a></div>
    <div class="clear"></div>
  </div>
</section>

<section class="module login">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4"> 
        <p>Already have an account? <strong><a href="<%= new_user_session_path %>">Login here.</a></strong></p> 
        <%= form_for(resource, as: resource_name, :html => {:class => "login-form"}, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="form-block">
            <%= f.label :first_name, style: "margin-bottom: -2%;" %><br />
            <%= f.text_field :first_name, autofocus: true, :class => "border" %>
          </div>
          
          <div class="form-block">
            <%= f.label :middle_name, "Middle/Father Name", style: "margin-bottom: -2%;" %><br />
            <%= f.text_field :middle_name, :class => "border" %>
          </div>
          
          <div class="form-block">
            <%= f.label :family_name, style: "margin-bottom: -2%;" %><br />
            <%= f.text_field :family_name, :class => "border" %>
          </div>
          
          <div class="form-block">
            <%= f.label :email, style: "margin-bottom: -2%;" %><br />
            <%= f.email_field :email, :class => "border" %>
          </div>
          
          <div class="form-block">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "border" %>
          </div>
          
          <div class="form-block">
            <%= f.label :password_confirmation, style: "margin-bottom: -2%;" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "border" %>
          </div>
          
          <div class="form-block">
            <%= f.label :image, style: "margin-bottom: -2%;" %><br />
            <%= f.file_field :image, :class => "border" %>
          </div>

          <div class="form-block">
            <%= f.label :contact, "Phone Number", style: "margin-bottom: -2%;" %><br />
            <%= f.text_field :contact, :class => "border" %>
          </div>
          
          <div class="form-block" style="margin-top: 2%;">
            <strong> Terms and Conditions </strong> <%= f.check_box(:terms) %>
            <%= f.label(:terms, "I understand that checking this box constitutes a legal signature confirming all of the information entered is accurate and I have read and agree to the Terms of Service.", style: "font-weight: 100") %>
          </div>

          <div class="form-block">
            <button class="button button-icon" type="submit"><i class="fa fa-angle-right"></i>Register</button>
          </div>
          
          <div class="form-block" style="margin-top: 5%;">
            <%= render "devise/shared/links" %>
          </div> 
          
          <div class="divider"></div>
          
          <p class="note">By clicking the "Register" button you agree with our <a href="<%= page_path('terms') %> ">Terms and conditions</a></p>  
        <% end %>  
      </div>
    </div><!-- end row -->

  </div>
</section>

<%= render 'newsletter' %>
