<section class="subheader">
  <div class="container">
    <h1>Terms of Service</h1>
    <div class="breadcrumb right">Home <i class="fa fa-angle-right"></i> <a href="#" class="current">Terms & Services</a></div>
    <div class="clear"></div>
  </div>
</section>

<section class="module">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div id="accordion" class="content">
          <h3>Terms of Service</h3>
          <div>
            <%= raw(Setting.first.terms_of_services_text) %>
          </div>
          <h3>Accuracy of Information</h3>
          <div>
            <%= raw(Setting.first.accuracy_of_info_text) %>
          </div>
          <h3>Membership & Account Registration</h3>
          <div>
            <%= raw(Setting.first.membership_and_account_reg_text) %>
          </div>
          <h3>General Ownership of Content</h3>
          <div>
            <%= raw(Setting.first.general_ownership_of_account_text) %>
          </div>
          <h3>Changes to the Terms of Service</h3>
          <div>
            <%= raw(Setting.first.changes_to_the_terms_of_service_text) %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">

        <div class="widget widget-sidebar recent-properties">
        <h4><span>Recent Properties</span> <%= image_tag "images/divider-half.png" %></h4>
        <div class="widget-content">
        <% @recents = Property.order(id: :desc).where(:isPublished => 1).first(3) %>
        <% @recents.each do |recent| %> 
        
        <div class="recent-property">
          <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4"><a href="<%= property_path(recent) %>"><%= image_tag recent.image.url %></a></div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h5><a href="<%= property_path(recent) %>"><%= recent.title %></a></h5>
            <p><strong>$<%= recent.price %></strong> Per Month</p>
          </div>
          </div>
        </div>
         
         <% end %>  
        
        </div><!-- end widget content -->
      </div><!-- end widget -->
        
      </div>
    </div><!-- end row -->

  </div>
</section>

<%= render 'newsletter' %>
